body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    height: 100vh;
    background-image: linear-gradient(
        to right top,
        #15B392,
        #54C392,
        #73EC8B,
        #D2FF72
      );
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.507);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-color: #000000;
    border-width: 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text{
    font-family: "Calistoga", serif;
    font-weight: 100px;
    font-style: normal;
    font-weight: bold;
    background: linear-gradient(90deg , #ff007f , #0075ff , #00ff7f);
    background-size: 200%;
    background-clip: text;
    color: transparent;
    animation: gradientMove 5s infinite linear;
}
@keyframes gradientMove{
    0% {background-position: 0% 50%; }
    100% {background-position: 100% 50%; }
}




.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

h1 {
    text-align: center;
    color: #333;
}

.gradient-text {
    font-family: "Yatra One", serif;
    font-weight: 800;
    font-style: normal;
  }

form label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
}

form input, form button { 
    width: 97%; 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 3px solid #ddd; 
    border-radius: 4px; }

form button {
    background: #3793f7;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #4fa2fc;
}

form button:hover.stars{
    display: block;
    filter:drop-shadow(0 0 10px);
    -webkit-filter:drop-shadow(0 0 10px);
}
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

a{
    text-decoration: none;
}
